/*
        Project:		-- Vicky
        Version:	    --
        Create Date:	-- 31-3-18
        Last change:	--
        Primary use:	--
*/

/* 
        --- Table Of Content ---
        
        1. preload
        2. menu
        3. home-background
        4. parallex-effect
        5. about
        6. work
        7. fancybox
        8. service
        9. blog
        10. contact
        11. responsive
        
*/




html{
    position: relative;
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-color: transparent;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../font/glyphicons-halflings-regular.eot');
    src: url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicons-halflings-regular.woff') format('woff'), url('../font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
    font-family: "Flaticon";
    src: url("../font/flaticon.eot");
    src: url("../font/flaticon.eot#iefix") format("embedded-opentype"),
        url("../font/flaticon.woff") format("woff"),
        url("../font/flaticon.ttf") format("truetype"),
        url("../font/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}





/*================================================================ PRELOAD ===================================================================*/





.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1111111111;
    background: url(../../img/loader1.gif) center no-repeat #fff;
}



/*============================================================== COLOR SCHEMES ==========================================================*/


/* color box */
.box {
    position:fixed;
    top:150px;
    left:-160px;
    height:110px;
    width:160px;
    background-color:white;
    z-index:111111111;
    -webkit-transition:all .27s ease-in-out;
    transition:all .27s ease-in-out;
}
.option {
    position:absolute;
    left:160px;
    z-index:1001;
    height:50px;
    width:50px;
    cursor: pointer;
    background-color: #a61eae;
}
.color {
    position:absolute;
    top:10px;
    left:10px;
    width:40px;
    height:40px;
    background-color:#cf2626;
    z-index:1001;
}

.style1 {
    left:60px;
    background-color:#198f27;
}
.style2 {
    left:110px;
    background-color:#1ca8a8;
}
.style3 {
    top:60px;
    left:10px;
    background-color:#3950cc;
}
.style4 {
    top:60px;
    left:60px;
    background-color:#a61eae;
}
.style5 {
    top:60px;
    left:110px;
    background-color:#8c1239;
}
.color:hover {
    cursor:pointer;
}
.box .fa {
    position:absolute;
    left:13px;
    top:11px;
    color:#FFF;
    transition:all .5s ease-in-out;
}
.open {
    left:0;
}
.lang {
    position:absolute;
    background-color:#FFF;
    width:60px;
    height:30px;
    color:#404040;
    top:120px;
    left:10px;
    text-align:center;
    line-height:2;
    font-weight:bold;
    cursor: pointer;
}
.lang:hover {
    background-color:#222;
    color:#FFF;
}
.ar {
    left:90px;
}



/*============================================================== MENU ==========================================================*/



.main-page-content{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.menubar {
    height: auto;
    width: 100%;
}
.navbar-default {
    background-color: transparent;
    height: 75px;
    border-bottom: none;
    overflow: hidden;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 111111;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    background-color: transparent;

}
.navbar-default.small {
    background-color: white;
    box-shadow: 0px 0px 12px 0px #d5d5d5;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 58px;
    font-size: 41px;
    line-height: 20px;
    padding-top: 21px;
}
.navbar-nav {
    float: right;
    margin: 17px 23px;
    margin-right: 0px;
}
.navbar-nav li {
    float: left;
    margin: 0px 5px;
    display: inherit;
}
.navbar-default .navbar-nav > li > a {
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    padding: 10px 5px;
}
.navbar-default.small .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #a61eae;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #a61eae !important;
    background-color: transparent;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.site-title {
    padding: 0px 0px;
}
.site-title h3 {

    font-size: 20px;
    color: white;
    font-weight: 100;
    margin-top: 25px;
    letter-spacing: 1px;
    font-weight: 900;
}
.navbar-default.small .site-title h3{
    color: #a61eae;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: -39px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-nav a::before {
    position: absolute;
    content: '';
    background-color: #a61eae;
    height: 2px;
    width: 0px;
    margin-top: 25px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.navbar-default .navbar-nav a:hover:before {
    position: absolute;
    content: '';
    background-color: #a61eae;
    height: 2px;
    width: 20px;
    margin-top: 25px;
}

.navbar-nav  a:active:before{
    position: absolute;
    content: '';
    background-color: #a61eae;
    height: 2px;
    width: 20px;
    margin-top: 25px;
}
.navbar-default .navbar-nav > .active > :before {
    position: absolute;
    content: '';
    background-color: #a61eae;
    height: 2px;
    width: 20px;
    margin-top: 25px;
}



/*====================================================== HOME Default =====================================================*/





img {
    border: none;
    width: 100%;
    height: auto;
}
#home{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 111;
}

.home-img{
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    margin-top: 0px;
}
.home-content-main {
    width: 100%;
    height: 100%;
    display: table;
    padding-top: 0px;
}


#home-back{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img1.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}


.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.home-row {
    z-index: 2;
    position: relative;
}
.home-text {

    width: 100%;
    padding-bottom: 20px;

}
.cd-headline {

    font-size: 6rem;
    margin-top: 0px;

}
.home-text h3 {

    font-size: 100px;
    color: white;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;

}

.home-text h2 {

    color: white;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 35px;
    line-height: 1.8em;

}
.home-background{
    width: 100%;
    height: 100vh;
}
.image-home{
    width: 100%;
    height: 100vh;
}


.arrow-btn {
    text-align: center;
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrow-icon {
    font-size: 25px;
    color: white;
}
.arrow-icon:hover {
    color: white;
}


/*====================================================== HOME text-imae =====================================================*/





img {
    border: none;
    width: 100%;
    height: auto;
}
#home1{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 111;
}

#home-back1{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img2.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}


.home-text1 h3 {

    font-size: 100px;
    color: white;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 5px;
    background-image: url(../../img/textback.jpg);
    background-position: center;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;

}
.home-text1 h2 {

    color: white;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 35px;
    line-height: 1.8em;

}

/*====================================================== HOME pointer section =====================================================*/





img {
    border: none;
    width: 100%;
    height: auto;
}
#home2{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 111;
}
#home2:before {
    right: 50%;
    border-right: 105vh solid transparent;
    border-left: 105vh solid;
}

#home2:after {
    left: 50%;
    border-left: 105vh solid transparent;
    border-right: 105vh solid;
}

#home2::after, #home2::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 11;
    border-bottom: 100px solid white;
    -moz-transform: rotate(0.000001deg);
    -webkit-transform: rotate(0.000001deg);
    -o-transform: rotate(0.000001deg);
    -ms-transform: rotate(0.000001deg);
    transform: rotate(0.000001deg);
}

#home-back2{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img3.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}


/*====================================================== HOME curve section =====================================================*/





img {
    border: none;
    width: 100%;
    height: auto;
}
#home3{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 111;
}

#home-back3{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img4.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}
.curve{
    z-index: 111;
    position: relative;
}


/*====================================================== HOME angle section =====================================================*/





img {
    border: none;
    width: 100%;
    height: auto;
}
#home4{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 111;
}

#home-back4{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img5.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

.about-content1::before {
    content: "";
    width: 100%;
    border-right: 1700px solid #fff;
    border-top: 60px solid transparent;
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 111;
}
.about-content1 {
    padding-top: 100px;
    padding-bottom: 0px;
}



/*====================================================== HOME text-rotator =====================================================*/





img {
    border: none;
    width: 100%;
    height: auto;
}
#home5{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 111;
}

#home-back5{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img6.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}
.cd-headline.clip span {
    font-size: 56px;
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

/*====================================================== HOME Big particle =====================================================*/





img {
    border: none;
    width: 100%;
    height: auto;
}
#home6{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 111;
}

#home-back6{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img7.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img7.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
}


/*====================================================== HOME small particle =====================================================*/





img {
    border: none;
    width: 100%;
    height: auto;
}
#home7{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 111;
}

#home-back7{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img8.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}
canvas{
    position: absolute;
    width: 100%; height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;
}


/*====================================================== HOME Bubbles =====================================================*/





img {
    border: none;
    width: 100%;
    height: auto;
}
#home8{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 111;
}

#home-back8{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img9.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
}


/*====================================================== HOME Rain =====================================================*/





img {
    border: none;
    width: 100%;
    height: auto;
}
#home9{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 111;
}

#home-back9{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background: url(../../img/img10.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}
canvas{
    position: absolute;
    width: 100%; height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;
}


/*===================================================================== Button ================================================*/

[class^="hvr-"] {
    display: inline-block;
    vertical-align: middle;
    margin: .4em;
    padding: 9px 17px;
    cursor: pointer;
    background: transparent;
    text-decoration: none;
    color: #a61eae;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 15px;
    border: 2px solid #a61eae;
}

/* Bounce To Right */
.hvr-bounce-to-right {

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin: 0px 0px;

}
.twobutton{
    margin: 0px 5px;
}
.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a61eae;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white;
    text-decoration: none;
    border: 2px solid #a61eae;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/*===================================================================== PARRALLEX EFFECT ================================================*/


.section:nth-of-type(1) {
    background: whitesmoke;
    height: 100vh;
}
.section {
    height: 100vh;
    position: relative;
    width: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
section:nth-of-type(2){background:black;height:1600px;}

#home-parallex{
    background: url(../../img/img1.jpg) 50% 0 no-repeat fixed;
    margin: 0;
    height: 100vh;
    position:absolute;
    width:100%;
    top:0;left:0;
    background-size: cover;
}

.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}





/*==================================================================== ABOUT ============================================================*/




.curve{
    z-index: 111;
    position: relative;
}
#about {
    width: 100%;
    background-color: white;
    margin-top: 0px;
    position: relative;
}
.about-content {
    padding-top: 100px;
    padding-bottom: 0px;
}
.backdesign {

    width: 30%;
    height: 30%;
    background-color: transparent;
    position: absolute;
    border: 120px double #f9f9f9;
    margin-left: 85%;
    transform: rotate(38deg);

}
.about-title h3 {

    font-size: 42px;
    letter-spacing: 0px;
    color: #a61eae;
    font-weight: 700;
    margin-top: -5px;
    padding: 0px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;

}
.about-title h2 {

    font-size: 20px;
    color: #515151;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;

}
.about-title h2::after {

    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background-color: #929292;
    margin-top: 13px;
    margin-left: 5px;

}
.about-title p{
    font-size: 15px;
    letter-spacing: 0px;
    color: #666;
    padding: 0px;
    line-height: 1.8em;
    margin-top: 15px;
    margin-bottom: 20px;
    word-spacing: 1px;
}
.about-grid{
    width: 100%;
}
.love-grid{
    width: 100%;
    margin-top: 0px;
}
.main-title h3 {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: #f05421;
    margin-top: 0px;
    font-weight: 900;
}

.underline1 {
    height: 2px;
    width: 150px;
    background-color: #f0f0f0;
    margin: auto;
    margin-top: auto;
    margin-top: 15px;
}
.underline2 {
    height: 2px;
    width: 40px;
    background-color: black;
    margin: auto;
    margin-top: auto;
    margin-top: -2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.main-title p {
    font-size: 17px;
    letter-spacing: 1px;
    color: #272727;
    padding: 0px;
    line-height: 27px;
    margin: 15px 0px;
    margin-bottom: 50px;
}
.what-we-do-grid {
    margin-top: 0px;
    background-color: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 70px;
    position: relative;
    z-index: 111;
}

.doingbox-slide {
    margin: 0 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: all 0.4s ease-in-out 0s;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: transparent;
}

.doingbox {
    padding: 0 20px;
    text-align: center;
    margin: 30px 0;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.3s linear 0s;
    margin-bottom: 30px;
    padding-bottom: 0px;
}
.doingbox .do-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 5px;
    background: #a61eae;
    font-size: 30px;
    color: #fff;
    margin: -45px 0 35px;
    position: relative;
    transition: all 0.3s linear 0s;
}
.post-slide:hover {
    box-shadow: 0px 0px 16px 0px #b3b3b3;
}
.doingbox .do-icon:after{
    content: "";
    border-top: 10px solid #a61eae;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s linear 0s;
}

.doingbox .title {
    font-size: 22px;
    color: #a61eae;
    margin: 0 0 8px 0;
    transition: all 0.3s ease 0s;
    font-family: 'Raleway', sans-serif;
}

.doingbox .description {

    font-size: 15px;
    letter-spacing: 0px;
    color: #666;
    padding: 0px;
    line-height: 1.8em;
    margin-top: 10px;
    margin-bottom: 0px;
    word-spacing: 1px;

}
.doingbox .read-more{
    display: inline-block;
    padding: 1px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #414141;
    position: relative;
    bottom: -20px;
    transition: margin-right 0.5s ease 0s, border-color 0.3s ease 0s;
}
.doingbox .read-more span{
    display: inline-block;
    padding: 5px 11px;
    padding-right: 11px;
    background: #fff;
    margin: 0 -35px -12px 0;
    position: relative;
    left: 12px;
    transition: margin-right 0.5s ease 0s;
    padding-right: 23px;
}
.doingbox:hover .read-more span{
    color: #1a8ad1;
    margin-right: 0;
}
.doingbox .read-more i{
    display: inline-block;
    padding: 9px 17px 8px 20px;
    background: #1a8ad1;
    color: #fff;
}
.doingbox:hover,
.doingbox:hover span{
    border-color: #ccc;
}


.main-title h3 {

    font-size: 42px;
    letter-spacing: 0px;
    color: #a61eae;
    font-weight: 700;
    margin-top: -5px;
    padding: 0px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;

}
.main-title h2 {

    font-size: 20px;
    color: #515151;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;

}
.main-title h2::after {

    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background-color: #929292;
    margin-top: 13px;
    margin-left: 5px;

}
.main-title h2::before {

    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background-color: #929292;
    margin-top: 13px;
    margin-left: -75px;

}
.main-title p {
    font-size: 16px;
    letter-spacing: 0px;
    color: #1A1A1A;
    padding: 0px;
    line-height: 1.8em;;
    margin-top: 20px;
    margin-bottom: 0px;
}
.white-title p{
    color: white;
}
.main-row{
    margin-top: 50px;
}
.what-we-do:hover .underline2{
    transform: rotate(-135deg);
}
.fixed-height {
    height: 300px;
    position: relative;
    display: table;
    z-index: 11;
    margin-bottom: 0px;
    padding: 0px;
}
.fixed-height-img{
    height: 300px;
    position: relative;
    display: block;
    z-index: 11;
    margin-bottom: 0px;
    padding: 0px;
}

.me-grid {
    margin-top: 0px;
    padding-bottom: 100px;
}
.about-hover {
    width: 70%;
    height: 500px;
    position: absolute;
    border: 30px double #fbfbfb;
    margin-left: 15%;
    margin-top: -197px;
}
.about-col{
    padding: 0px;
}
.about-image {

    margin: 0px 0px;
    position: relative;
    width: 100%;
    height: 100%;

}
.about-img {

    width: 90%;
    height: auto;
    padding: 0px;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    z-index: 11111;
    position: relative;
    margin-left: 10%;
    box-shadow: 0px 0px 10px 0px #6c6c6c;

}

.about-image::after {
    content: '';
    position: absolute;
    height: 500%;
    width: 60%;
    background-color: #a61eae;
    left: 0;
    top: -100%;
    z-index: 1;
}
.image-over {
    width: calc(100% - 30px);
    height: 100%;
    border: 8px solid #32d3ed;
    position: absolute;
    margin: 30px;
}
.img-content {

    position: absolute;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66) 0s;
    background-color: rgba(0, 0, 0, 0.77);
    padding: 20px 0px;
    z-index: 111111;

}
.about-image:hover .img-content{
    transform: translateY(-80px);
}
.about-social-icon {
    padding: 15px 0px;
}
.about-social {
    padding: 0px;
    display: inline-flex;
    list-style: none;
    margin: 0px;
}
.about-social li {
    margin: 0px 0px;
}
.about-social li:first-child {
    margin-left: 0px;
}

.about-social li a {
    color: #FFF;
    background-color: #32d3ed;
    float: left;
    line-height: 33px;
    font-size: 19px;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    text-align: center;
    margin-right: 9px;
    height: 35px;
    width: 35px;
    border-radius: 6px;
    border: 1px solid #32d3ed;
}

.about-social li a:hover {

    border-color: white;
    background-color: transparent;
}
.about-details {
    margin: 0px 30px;
    margin-left: 20px;
}
.about-details h3 {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    color: #a61eae;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 21px;
}
.about-details p {

    font-size: 16px;
    color: #363636;
    letter-spacing: 1px;
    line-height: 1.8em;;
    margin-bottom: 30px;
    margin-top: 18px;
    position: relative;
    z-index: 111;

}
.text-2{
    padding-bottom: 30px;
}
.about-contact1 {
    background: none;
    color: white;
    position: relative;
    padding: 11px 19px;
    font-size: 16px;
    position: relative;
    z-index: 111;
    background-color: #a61eae;
}
.about-contact1::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    background-color: white;
    width: 0%;
    height: 100%;
    z-index: 1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

}
.about-contact1:hover:after {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    width: 100%;
    z-index: -1;

}
.about-contact1:hover {
    color: #a61eae;
    text-decoration: none;
    z-index: 1;
}
.about-contact2 {
    background: none;
    color: #a61eae;
    position: relative;
    padding: 11px 19px;
    font-size: 16px;
    position: relative;
    z-index: 111;
    background-color: white;
    margin-left: 20px;
}
.about-contact2::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    background-color: #a61eae;
    width: 0%;
    height: 100%;
    z-index: 1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

}
.about-contact2:hover:after {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    width: 100%;
    z-index: -1;

}
.about-contact2:hover {
    color: white;
    text-decoration: none;
    z-index: 1;
}
.about-contact3 {
    background: none;
    color: white;
    position: relative;
    padding: 11px 19px;
    font-size: 16px;
    position: relative;
    z-index: 111;
    background-color: #a61eae;
}
.about-contact3::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    background-color: black;
    width: 0%;
    height: 100%;
    z-index: 1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

}
.about-contact3:hover:after {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    width: 100%;
    z-index: -1;

}
.about-contact3:hover {
    color: white;
    text-decoration: none;
    z-index: 1;
}
.no-padding{
    padding: 0px;
}
.aboutbottom {

    padding: 20px;
    border: 1px solid #d8d8d8;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

}
.aboutbottom:hover{
    border: 1px solid #a61eae;
    background-color: #a61eae;
}
.aboutbottom:hover h3{
    color: white;
}
.aboutbottom:hover .about-icon{
    color: white;
}
.aboutbottom h3 {

    font-size: 20px;
    color: #666;
    font-weight: 500;
    margin: 0px;
    margin-top: 0px;
    margin-top: 0px;
    margin-top: 10px;

}
.about-icon {

    color: #a61eae;
    font-size: 26px;

}
.white{
    color: white;
}
.white-title h3{
    color: white;
}
.color11{
    background-color: #a61eae;
    border-color: #a61eae;
}






.work-counter {
    width: 100%;
    background-color: white;
    margin-top: 0px;
    position: relative;
    z-index: 111;
}
.no-margin{
    margin-left: 0px;
}

#counter {

    background: url(../../img/counter.jpg) 50% 0 no-repeat;
    background-position-x: 50%;
    background-position-y: 0px;
    background-size: auto auto;
    margin: 0;
    height: 100%;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: 50% 40%;

}
#counter:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.52);
    top: 0;
    left: 0;
    z-index: 1;
}
.counterrow {

    background-color: white;
    position: relative;
    z-index: 111;
    margin: 0px 0px;

}
.work-statistics-write {
    padding: 0px;
    margin-bottom: 30px;
    z-index: 111;
    position: relative;
}
.work-statistics-write h3 {
    font-size: 37px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 900;
    vertical-align: middle;
    margin-top: 13px;
}
.work-statistics-write p {
    font-size: 18px;
    color: white;
    vertical-align: middle;
    margin-top: 13px;
    line-height: 25px;
}
.work-statistics {

    padding: 50px 0px;
    margin-bottom: 0px;
    position: relative;
    z-index: 111;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

}
.work-statistics:hover{
    background-color: #a61eae;
}
.work-statistics:hover h3{
    color: white;
}
.work-statistics:hover p{
    color: white;
}
.no-padding{
    padding: 0px;
}
.work-statistics h3 {
    font-size: 30px;
    color: #a61eae;
    margin: 0px 9px;
    font-weight: 600;
    vertical-align: middle;
    margin-top: 0px;
}
.work-statistics p {

    color: #666;
    font-size: 15px;
    margin-top: 8px;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 1.8em;

}
.colorcounter{
    background-color: #a61eae;
}
.colorcounter h3{
    color: white;
}
.colorcounter p{
    color: white;
}
.work-statistics:hover .underline2{
    transform: rotate(-135deg);
}
.stat-icon {
    font-size: 25px;
    margin-top: 0px;
    color: white;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    line-height: 44px;
    text-align: center;
    background-color: #a61eae;
    height: 45px;
    width: 45px;
}


/*=========================================================================== SKILL ===============================================================*/




#skill-grid {
    background: url(../../img/skill.jpg) 50% 0 no-repeat fixed;
    background-position-x: 50%;
    background-position-y: 0px;
    background-size: auto auto;
    background-position-x: 50%;
    background-position-y: 0px;
    background-size: auto auto;
    margin: 0;
    margin-top: 0px;
    margin-top: 0px;
    height: 100%;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 60px;
    background-position: center 0%;
    margin-top: 70px;
}
#skill-grid:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.79);
    top: 0;
    left: 0;
    z-index: 1;
}

.skillgrd{
    position: relative;
    z-index: 111;
}
.skill-main-grid {
    width: 100%;
    background-color: white;
    padding: 50px 30px;
    padding-bottom: 59px;
    padding-right: 100px;
}
.skill-row{
    background-color: transparent;
    margin: 0px 0px;
    margin-top: 0px;
}
.borderskill{
    border: 1px solid transparent;
}
.row-skill{
    margin-top: 50px;
}
.main-title {
    padding-top: 0px;
}

.skill-under{
    background-color: white;
}
.faq-grid {
    margin-top: 19px;
}
.panel-default > .panel-heading {
    color: #FFF;
    background-color: #ed3267;
    border-color: #ed3267;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
}
.panel-body p{
    font-size: 15px;
    color: #4a4a4a;
}
.panel-heading {
    padding: 15px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default {
    border-color: #dedede;
}
.panel-group {
    margin-bottom: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.content {
    width: 100%;
    margin: 0;
    font-size: 12px;
    line-height: 2em;
}
.col { width:100%; }

#skill-main {
    list-style: none;
    padding: 0px 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-right: 50px;
}
.skill-row{

}
#skill-main li {
    margin-bottom: 33px;
    background: white;
    height: 13px;
    border-radius: 30px;
    border: 1px solid #23a5d8;
}
#skill-main h3 {
    margin: 0px;
    position: absolute;
    margin-top: -30px;
    font-size: 15px;
    color: #333;
}
.skill-main-grid {
    width: 100%;
    background-color: white;
    padding: 80px 30px;
    padding-bottom: 47px;
    padding-right: 30px;
    padding-left: 105px;
}
.skill-main-grid h3 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #23a5d8;
    margin-top: 0px;
    font-weight: 900;
    line-height: 33px;
}
.skill-main-grid p {
    font-size: 16px;
    color: #363636;
    letter-spacing: 1px;
    line-height: 1.8em;
    margin-bottom: 45px;
    margin-top: 18px;
}
#skill-main li em {
    position: relative;
    top: -30px;
    float: left;
    color: white;
}

.expand {
    height: 7px;
    margin: 2px 2px;
    background: #23a5d8;
    position: absolute;
    border-radius: 30px;
}

.Web.start     { width:85%;  -moz-animation:Web 2s ease-out;       -webkit-animation:Web 2s ease-out; position: relative;  float: left;      }
.Graphics.start    { width:90%;  -moz-animation:Graphics 2s ease-out;        -webkit-animation:Graphics 2s ease-out;      position: relative;  float: left;  }
.Developing.start  { width:82%;  -moz-animation:Developing 2s ease-out;      -webkit-animation:Developing 2s ease-out;    position: relative;  float: left;  }
.Photoshop.start   { width:89%;  -moz-animation:Photoshop 2s ease-out;   -webkit-animation:Photoshop 2s ease-out;   position: relative;  float: left;}
.Photography.start { width:95%; -moz-animation:Photography 2s ease-out; -webkit-animation:Photography 2s ease-out;   position: relative;  float: left;}


@-moz-keyframes Web       { 0%  { width:0px;} 100%{ width:85%;}  }
@-moz-keyframes Graphics        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes Developing      { 0%  { width:0px;} 100%{ width:82%;}  }
@-moz-keyframes Photoshop   { 0%  { width:0px;} 100%{ width:89%;}  }
@-moz-keyframes Photography { 0%  { width:0px;} 100%{ width:95%;} }

@-webkit-keyframes Web       { 0%  { width:0px;} 100%{ width:85%;}  }
@-webkit-keyframes Graphics        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes Developing      { 0%  { width:0px;} 100%{ width:82%;}  }
@-webkit-keyframes Photoshop   { 0%  { width:0px;} 100%{ width:89%;}  }
@-webkit-keyframes Photography { 0%  { width:0px;} 100%{ width:95%;} }
.skill-main-details{
    margin-bottom: 30px;
}
#doughnut,#doughnut2,#doughnut3,#doughnut4{
    position: absolute;

}
#skill1,#skill2,#skill3,#skill4{
    position: relative;

}
.skill-main-details h1 {
    color: white;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.skill-grid{
    padding-top: 100px;
    padding-bottom: 50px;
}
.color11{
    background-color: #a61eae;
}




/*=========================================================================== WORK ===============================================================*/




#work {
    width: 100%;
    background-color: #fbfbfb;
    margin-top: 0px;
    position: relative;
    z-index: 111;
}
.work-content{
    padding-bottom: 95px;
    padding-top: 100px;
}
.work-grid{
    width: 100%;
}
.work-title {
    padding-top: 100px;
}
.work-title h3 {
    font-size: 37px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: black;
    margin-top: 0px;
    font-weight: 900;
    line-height: 33px;
}
.work-title p {
    font-size: 17px;
    letter-spacing: 1px;
    color: #272727;
    padding: 0px;
    line-height: 27px;
    margin: 15px 0px;
    margin-bottom: 50px;
}
.work-details{
    margin-top: 50px;
}
.no-margin{
    padding: 0px 0px;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.89);;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66) 0s;


}
.port-over {
    width: 100%;

}
.overlay-main {
    width: 100%;
    height: 100%;
    display: table;
}
.overlay h3{
    color: white;
    font-size: 22px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

    opacity: 0;

}
.portfolio-wrapper:hover h3{
    transform: translateY(0px);
    opacity: 1.5;
    transition-delay: .2s;
}
.work-icon {

    font-size: 22px;
    color: white;
    text-align: center;
    transform: translateY(-40px);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition-delay: 0s;
    transition-delay: 0s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition-delay: .2s;
    margin: 20px 5px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    margin-bottom: 0px;
    width: 50px;
    height: 50px;
    background-color: #a61eae;
    color: white;
    line-height: 50px;
    z-index: 1111;
    position: relative;
    opacity: 0;
    border-radius: 150px;

}
.portfolio-wrapper:hover .work-icon{
    transform: translateY(0px);
    opacity: 1.5;
}

#filters {

    padding: 0;
    list-style: none;
    width: 598px;
    margin: 50px auto;
    margin-top: 50px;
    margin-top: 0px;

}

#filters li {
    float:left;
}

#filters li span {

    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 15px;

}

#filters li span.active {
    background: #a61eae;
    color: #fff;
}


#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 32.8%;
    margin-right: 5px;
    display: none;
    float: left;
    overflow: hidden;
    margin-bottom: 5px;
}

.portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    background: #666;
}

.portfolio img {
    max-width:100%;
    position: relative;
    top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);	
}
.portfolio-wrapper img{

    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
}
.portfolio-wrapper:hover img{
    transform: scale(1.5);
}
.portfolio-wrapper:hover .overlay{
    opacity: 1.5;
}
.portfolio .text-category {
    display:block;
    font-size:9px;
}

.portfolio-wrapper::after {

    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 2px solid white;
    top: 15px;
    left: 15px;
    border-top: 2px solid white;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    opacity: 0;
    z-index: 111111;

}
.portfolio-wrapper:hover:after {
    opacity: 1.5;
    width: 50px;
    height: 50px;
}





/* #Tablet (Portrait) */



/*  #Mobile (Portrait) - Note: Design for a width of 320px */

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}









/*================================================================ FANCYBOX ===============================================================*/




.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #a61eae;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../../img/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../../img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background: url('../../img/close.png') center center no-repeat;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../img/blank.gif'); 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}


.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: visible !important;
}

.fancybox-lock-test {
    overflow-y: visible !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../../fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.83);
    z-index: 111111;
}


.fancybox-title {
    visibility: hidden;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; 
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 1.8em;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        background-image: url('../../fancybox_sprite@2x.png');
        background-size: 44px 152px; 
    }

    #fancybox-loading div {
        background-image: url('../../fancybox_loading@2x.gif');
        background-size: 24px 24px; 
    }
}
#fancybox-buttons {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 8050;
}

#fancybox-buttons.top {
    top: 10px;
}

#fancybox-buttons.bottom {
    bottom: 10px;
}

#fancybox-buttons ul {
    display: block;
    width: 166px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border: 1px solid #111;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
    background: rgb(50,50,50);
    background: -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51)));
    background: -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
    background: -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
    background: -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
    background: linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
}

#fancybox-buttons ul li {
    float: left;
    margin: 0;
    padding: 0;
}

#fancybox-buttons a {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-color: transparent;
    background-image: url('fancybox_buttons.png');
    background-repeat: no-repeat;
    outline: none;
    opacity: 0.8;
}

#fancybox-buttons a:hover {
    opacity: 1;
}

#fancybox-buttons a.btnPrev {
    background-position: 5px 0;
}

#fancybox-buttons a.btnNext {
    background-position: -33px 0;
    border-right: 1px solid #3e3e3e;
}

#fancybox-buttons a.btnPlay {
    background-position: 0 -30px;
}

#fancybox-buttons a.btnPlayOn {
    background-position: -30px -30px;
}

#fancybox-buttons a.btnToggle {
    background-position: 3px -60px;
    border-left: 1px solid #111;
    border-right: 1px solid #3e3e3e;
    width: 35px
}

#fancybox-buttons a.btnToggleOn {
    background-position: -27px -60px;
}

#fancybox-buttons a.btnClose {
    border-left: 1px solid #111;
    width: 35px;
    background-position: -56px 0px;
}

#fancybox-buttons a.btnDisabled {
    opacity : 0.4;
    cursor: default;
}
#fancybox-thumbs {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 8050;
}

#fancybox-thumbs.bottom {
    bottom: 2px;
}

#fancybox-thumbs.top {
    top: 2px;
}

#fancybox-thumbs ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

#fancybox-thumbs ul li {
    float: left;
    padding: 1px;
    opacity: 0.5;
}

#fancybox-thumbs ul li.active {
    opacity: 0.75;
    padding: 0;
    border: 1px solid #fff;
}

#fancybox-thumbs ul li:hover {
    opacity: 1;
}

#fancybox-thumbs ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #222;
    background: #111;
    outline: none;
}

#fancybox-thumbs ul li img {
    display: block;
    position: relative;
    border: 0;
    padding: 0;
    max-width: none;
}



/*=================================================== SERVICE ==========================================*/





#service {

    width: 100%;
    background-color: white;
    margin-top: 0px;
    position: relative;
    background-image: url(../../img/p2.png);

}
.service-content {

    padding-top: 100px;
    padding-bottom: 0px;
}

.service-grid{
    width: 100%;
    margin-top: 0px;
    position: relative;
    z-index: 11111;
}
.service-title {
    padding-top: 0px;
}
.service-title h3 {
    font-size: 43px;
    letter-spacing: 2px;
    color: black;
    margin-top: 0px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 30px;
}
.service-title p {
    font-size: 17px;
    letter-spacing: 1px;
    color: #272727;
    padding: 0px;
    line-height: 27px;
    margin: 15px 0px;
    margin-bottom: 0px;
}
.about-row{
    margin-top: 50px;
}
.serviceBox {

    padding: 35px 35px;
    text-align: center;
    background: white;
    border-top: 3px solid #a61eae;
    border-bottom: 3px solid #a61eae;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0px 0px 14px 0px #e4e4e4;

}
.serviceBox:before{
    content: "";
    border-top: 0 solid #a61eae;
    border-right: 0 solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover:before{
    border-top-width: 78px;
    border-right-width: 78px;
}
.serviceBox:after{
    content: "";
    border-bottom: 0 solid #a61eae;
    border-left: 0 solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover:after{
    border-bottom-width: 78px;
    border-left-width: 78px;
}
.serviceBox .service-icon {

    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 69px;
    border-radius: 20px;
    border: 5px solid #a61eae;
    background: #a61eae;
    font-size: 34px;
    color: white;
    margin-bottom: 25px;
    position: relative;

}
.serviceBox .title {

    font-size: 22px;
    color: #a61eae;
    letter-spacing: 0px;
    margin: 0 0 5px 0;
    position: relative;
    transition: all 0.3s ease 0s;
    font-family: 'Raleway', sans-serif;

}
.serviceBox .description {

    font-size: 15px;
    color: #666;
    letter-spacing: 0px;
    line-height: 1.8em;
    margin: 0;

}



/*============================================================== testimonial =====================================================================*/





.testimonialgrid{
    width: 100%;
    background-color: white;
    margin-top: 70px;
    position: relative;
    background-image: url(../../img/clients.jpg);
    background-size: cover;
    padding: 100px 0px;
    padding-bottom: 90px;
}
.testimonialgrid:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.79);
    top: 0;
    left: 0;
    z-index: 1;
}

.testimonial-content {
    padding-bottom: 0px;
    padding-top: 0px;
}
.testimonial-grid {
    width: 100%;
    position: relative;
    z-index: 111;
}
.testimonial-title {
    padding-top: 0px;
}
.testimonial-title h3 {
    font-size: 37px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: black;
    margin-top: 0px;
    font-weight: 900;
    line-height: 33px;
}




section {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
    height: auto;
}

.testimonial{ text-align: center; }
.testimonial .description {

    font-size: 15px;
    color: white;
    line-height: 1.8em;
    margin-bottom: 30px;

}
.testimonial .pic {

    display: inline-block;
    width: 160px;
    height: 160px;
    border: 5px solid #a61eae;
    margin-bottom: 50px;
    position: relative;

}
.testimonial .pic:after{
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: #a61eae #a61eae transparent transparent;
    position: absolute;
    bottom: -33px;
    right: 20%;
    transform: rotate(-15deg);
    z-index: -1;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title {

    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #a61eae;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-bottom: 7px;
    font-family: 'Raleway', sans-serif;

}
.testimonial .post {

    display: block;
    font-size: 15px;
    color: #f6f6f6;
    text-transform: capitalize;

}
.owl-theme .owl-controls{
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
    width: 30px;
    height: 3px;
    background: #585656;
    border-radius: 0;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #a61eae;
}
section {
    height: auto;
    margin: 0px;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    z-index: 111;
}


/*============================================================== BLOG =====================================================================*/



#blog{
    height: auto;
    width: 100%;
    background-color: white;
}
.blog-content{
    padding-bottom: 70px;
    padding-top: 100px;
}
.blog-row{
    margin-top: 50px;
}
.blog-title {
    padding-top: 80px;
}
.blog-title h3 {
    font-size: 35px;
    letter-spacing: 2px;
    color: #333;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 25px;
}
.blog-title p {
    font-size: 16px;
    letter-spacing: 1px;
    color: #1A1A1A;
    padding: 0px;
    line-height: 27px;
    margin-top: 19px;
}

.post-slide{
    padding-bottom: 0px;
    margin: 0 0px;
    position:relative;
    margin-bottom: 30px;
}
.post-slide img{
    width: 100%;
    height: auto;
}
.post-slide .post-date {

    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px;
    background: #a61eae;

}
.post-slide .month{
    font-size: 15px;
    color:#fff;
    text-transform:uppercase;
}

.post-slide .date{
    font-size: 15px;
    color:#fff;
    display: block;
    text-align:center;
}
.post-slide .post-title{
    margin:25px 0 0px 0;
}
.post-slide .post-title a {

    font-size: 22px;
    color: #a61eae;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-family: 'Raleway', sans-serif;

}
.post-slide .post-title a:hover{
    text-decoration: none;
    color:#a61eae;
}
.post-slide .post-description {

    font-size: 15px;
    line-height: 1.8em;
    color: #666;
    margin-bottom: 25px;
    margin-top: 5px;

}
.post-slide .read-more{
    color:#333;
    text-transform:capitalize;
    transition: color 0.20s linear;
}
.post-slide .read-more i{
    margin-left:10px;
    font-size:10px;
}
.post-slide .read-more:hover{
    text-decoration:none;
    color:#e74c3c;
}
.post-slide:hover{
    box-shadow: none;
}


/*============================================================== CONTACT =====================================================================*/





#contact {
    width: 100%;
    background-color: #e33aa5;
    margin-top: 0px;
    position: relative;
    background: url(../../img/contact.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: center center;
}
.contact-content{
    width: 100%;
}
.contact-grid {
    position: relative;
    z-index: 111;
}
.contact-content::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.48);
    top: 0;
    left: 0;
    z-index: 1;
}
.contact-row{
    margin-top: 100px;
}
.conbot{
    background-color: #a61eae;
}
.contact-title {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}
.contact-title h3 {
    font-size: 43px;
    letter-spacing: 2px;
    color: black;
    margin-top: 0px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 30px;
}
.contact-title p {
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    padding: 0px;
    line-height: 27px;
    margin: 15px 0px;
    margin-bottom: 0px;
}
.contact-row {

    margin-top: 100px;
    background-color: rgb(18, 18, 18);
    z-index: 1111;
    position: relative;
    margin: 0px 0px;
    margin-top: 0px;
    margin-top: 100px;

}
.contact-title {
    padding-top: 75px;
    padding-left: 60px;
    padding-right: 60px;
}
.contact-title h3 {

    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
    color: #a61eae;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 15px;

}
.contact-title p {

    font-size: 15px;
    letter-spacing: 0px;
    color: white;
    padding: 0px;
    line-height: 1.8em;
    margin: 22px 0px;
    margin-bottom: 22px;
    margin-bottom: 15px;
    margin-bottom: 15px;
    margin-bottom: 22px;

}

.border-right{
    border-right: 1px solid #4b4b4b;
}
.contact-col {
    padding-bottom: 75px;
}
.contact-col-info {

    background-color: transparent;
    padding: 0px 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    margin-left: 60px;
    margin-right: 60px;

}

.contact-form-details {
    margin-top: 0px;
    padding-bottom: 0px;
}
.contact-form {
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}
.form-control {
    display: block;
    width: 100%;
    margin: auto;
    height: 50px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: white;
    background-image: none;
    border: 1px solid black;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-color: transparent;
    background-color: rgba(47, 47, 47, 0.42);
    text-align: left;
}
.form-control:enabled {
    box-shadow: none;
    border-bottom: 2px solid #a61eae;
}
.has-error .form-control {
    border-color: #000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.has-error .help-block {
    color: white;
    text-align: left;
}
.has-error .form-control:enabled {
    box-shadow: none;
    border-bottom: 2px solid #a61eae;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success.disabled {
    background-color: #a61eae;
    border-color: #a61eae;
    color: white;
    cursor: not-allowed;
}
.btn.disabled:hover{
    background-color: #a61eae;
    border-color: #a61eae;
    color: white;
    cursor: not-allowed;
}
.btn-success:hover{
    cursor: pointer;
    background-color: #a61eae;
    border-color: #a61eae;
    color: white;
}
.btn-success {
    background-color: #a61eae;
    border-color: #a61eae;
    color: white;
}
.text-danger {
    color: white;
    position: absolute;
    text-align: left;
    width: 100%;
}
.text-success {
    color: white;
    position: absolute;
    text-align: left;
    width: 100%;
}
.hidden {
    display: none !important;
    color: #2a99cc;
}


.contact-info-row{
    margin-top: 100px;
}

.contact-icon {

    font-size: 29px;
    color: #a61eae;
    margin-left: 0px;
    margin-top: 11px;
    text-align: center;
    transition: 1.4s;
    -webkit-transition: 1.4s;
    -moz-transition: 1.4s;
    -ms-transition: 1.4s;
    -o-transition: 1.4s;
    float: left;
    margin-right: 10px;

}
.nobotmar{
    margin-bottom: 0px;
}
.contact-col-info h3 {

    font-size: 22px;
    position: relative;
    margin-top: 15px;
    color: #a61eae;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;

}
.contact-col-info p {

    font-size: 15px;
    color: white;
    line-height: 1.8em;
    position: relative;
    margin-bottom: 0px;

}
.copyright-details{
    background-color: #a61eae;
}
.copyright h3 {

    margin: 0px;
    padding: 50px 0px;
    padding-top: 50px;
    text-align: center;
    font-size: 15px;
    color: #fff;

}
.map {
    width:100%;
    height:600px;	
}

.map-wrap {
    position:relative; 
}

.overlay-map {
    width:100%;
    height: 100%;
    position:absolute; 
    top:0;
    z-index: 11111;
}
.map-col{
    padding: 0px;
    margin-top: -50px;
}
.form-control::-webkit-input-placeholder{
    color: white;
}
.form-control:-moz-placeholder{
    color: white;
}
.form-control::-moz-placeholder{
    color: white;
}
.form-control:-ms-input-placeholder{
    color: white;
}

.about-social-icon {
    padding: 0px 0px;
    padding-bottom: 0px;
}
.about-social {
    padding: 0px;
    display: inline-flex;
    list-style: none;
    margin: 0px;
}
.about-social li {
    margin: 0px 0px;
}
.about-social li:first-child {
    margin-left: 0px;
}
.about-social li a {
    color: white;
    background-color: #a61eae;
    float: left;
    line-height: 40px;
    font-size: 16px;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    text-align: center;
    margin-right: 6px;
    height: 40px;
    width: 40px;
    border-radius: 150px;
    border: 1px solid #a61eae;
}
.about-social li a:hover {
    color: #a61eae;
    background-color: white;
    border: 1px solid white;
}

.main-row{
    margin-top: 50px;
}


/*=============================================================== RESPONSIVE ======================================================*/


@media screen and (max-width: 768px) {

    .about-details {
        margin: 0pc;
        margin-top: 0px;
    }
    .contact-form {
        width: 100%;
        margin: auto;
        padding-bottom: 0px;
        margin-top: 50px;
    }
    .navbar-nav {
        float: right;
        margin: 17px 23px;
        margin-right: 0px;
    }
    .navbar-default.small .navbar-nav {
        float: right;
        margin: 17px 23px;
        margin-right: 0px;
    }

    #skill-main {
        list-style: none;
        padding: 34px 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .serviceBox {
        padding: 30px 20px;
        text-align: center;
        background: white;
        border-top: 3px solid #a61eae;
        border-bottom: 3px solid #a61eae;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0px 0px 14px 0px #e4e4e4;
    }
    .doingbox {
        padding: 0 0px;
        text-align: center;
        margin: 30px 0;
        margin-bottom: 30px;
        position: relative;
        transition: all 0.3s linear 0s;
        margin-bottom: 30px;
        padding-bottom: 0px;
    }
    .contact-form {
        width: 100%;
        margin: auto;
        padding-bottom: 0px;
        margin-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact-title {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact-col-info {
        background-color: transparent;
        padding: 0px 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        margin-left: 0px;
        margin-right: 0px;
    }
    .nobotmar {
        margin-bottom: 0px;
    }

    #portfoliolist .portfolio {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        width: 32.6%;
        margin-right: 5px;
        display: none;
        float: left;
        overflow: hidden;
        margin-bottom: 5px;
    }
    .aboutbottom {
        padding: 20px;
        border: 1px solid #d8d8d8;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        margin-bottom: 30px;
    }
    .me-grid {
        margin-top: 0px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-default.small .navbar-nav > li > a {
        color: white;
    }
    .image-over {
        width: 90%;
        height: 96%;
        border: 8px solid #32d3ed;
        position: absolute;
        margin: 3%;
    }
    .about-details {
        margin: 50px 16px;
    }
    .work-counter {
        width: 100%;
        margin-top: 0px;
    }
    .navbar-default.small .navbar-nav {
        float: right;
        margin: 0px;

    }
    .navbar-default {
        background-color: transparent;
        height: 75px;
        border-bottom: none;
        overflow: visible;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }
    .contact-col {
        height: auto;

        padding-bottom: 0px;
        margin: 0px 15px;
    }
    .navbar-nav {
        float: right;
        margin: 11px 21px;
        margin-right: 35%;
        display: inherit;
        width: 200px;
        background-color: transparent;
    }
    .navbar-style{
        padding: 0px;
    }
    .navbar-nav li {
        float: left;
        margin: 9px 11px;
        display: inherit;
        width: 100%;
    }
    .navbar-fixed-top .navbar-collapse {
        height: 740px;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
    }
    .navbar-default .navbar-nav > li > a {
        color: white;
        letter-spacing: 2px;
        font-size: 16px;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        padding: 10px 0px;
        text-align: center;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
    }
    #portfoliolist .portfolio {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        width: 49.3%;
        margin-right: 5px;
        display: none;
        float: left;
        overflow: hidden;
        margin-bottom: 5px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #a61eae;
    }
    .no-padding-col {
        padding: 0px;
        width: 100%;
    }
    .message1 {
        width: 100%;
        background-color: #262626;
        padding: 0px;
        margin-top: 400px;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: -26px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .navbar-nav {
        float: right;
        display: inherit;
        width: 100%;
        background-color: transparent;
        margin: 0px;
    }
    .navbar-nav li {
        float: left;
        margin: 5px 0px;
        display: inherit;
        width: 100%;
    }
    .border-right {
        border-right: 0px solid #4b4b4b;
        border-bottom: 1px solid #4b4b4b;
    }
    .contact-col {
        height: auto;
        padding-bottom: 100px;
        margin: 0px 0px;
    }

    .about-title {
        margin-top: 100px;
        background-color: white;
        position: relative;
        z-index: 111;
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .me-grid {
        margin-top: 0px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 640px) {

    .contact-form {
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }
    .work-counter {
        width: 100%;
    }
    .contact-text p {
        margin: 15px 0px;
        margin-bottom: 0px;
    }
    .contact-form {
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact-col {
        height: auto;
        margin: 0px 0px;
    }
    .work-icon {
        font-size: 22px;
        color: white;
        text-align: center;
        transform: translateY(-400px);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        transition-delay: 0s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition-delay: .2s;
        margin: 20px 5px;
        margin-bottom: 20px;
        margin-bottom: 20px;
        margin-bottom: 0px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    #portfoliolist .portfolio {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        width: 49.1%;
        margin-right: 5px;
        display: none;
        float: left;
        overflow: hidden;
        margin-bottom: 5px;
    }
}


@media screen and (max-width: 480px) {
    .home-text h3 {
        font-size: 60px;
        color: white;
        letter-spacing: 3px;
        margin-bottom: 5px;
        padding-bottom: 10px;

    }
    #filters {
        padding: 0;
        list-style: none;
        width: 100%;
        margin: 30px auto;
        margin-top: 10px;
    }
    .navbar-nav {
        float: right;
        display: inherit;
        width: 100%;
        background-color: transparent;
    }

    #filters li {
        float: none;
    }
    .doingbox-slide {
        margin: 0 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        transition: all 0.4s ease-in-out 0s;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .doingbox {
        padding: 0 0px;
        text-align: center;
        margin: 30px 0;
        margin-bottom: 30px;
        position: relative;
        transition: all 0.3s linear 0s;
        margin-bottom: 30px;
        padding-bottom: 0px;
    }
    .work-icon {
        font-size: 22px;
        color: white;
        text-align: center;
        transform: translateY(-400px);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        transition-delay: 0s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition-delay: .2s;
        margin: 20px 5px;
        margin-bottom: 20px;
        margin-bottom: 20px;
        margin-bottom: 0px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    #portfoliolist .portfolio {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        width: 100%;
        margin-right: 0px;
        display: none;
        float: left;
        overflow: hidden;
        margin-bottom: 5px;
    }
    .cd-headline.clip span {
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}
}

@media screen and (max-width: 320px) {
    .home-row {
        z-index: 2;
        position: relative;

    }
    .contact-text p {
        margin: 15px 0px;
        margin-bottom: 0px;
    }
    .home-text h3 {
        font-size: 36px;
        color: white;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .home-text{
        padding-bottom: 10px;
    }
    .contact-form {
        width: 100%;
        margin: auto;
        margin-top: 30px;
        padding: 0px;
    }

    .home-text h3 {
        font-size: 42px;
        color: white;
        letter-spacing: 3px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .image-over {
        width: 80%;
        height: 93%;
        border: 8px solid #32d3ed;
        position: absolute;
        margin: 4%;
    }
    .message-details {
        padding-left: 0px;
        display: table-cell;
        vertical-align: middle;
        padding-right: 0px;
    }
    .navbar-nav {
        float: right;

        background-color: transparent;
    }
    .about-social li a {
        float: left;
        line-height: 28px;
        font-size: 14px;
        transition: .4s;
        -o-transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        text-align: center;
        margin-right: 6px;
        height: 30px;
        width: 30px;
    }
    .about-image:hover .img-content{
        transform: translateY(-70px);
    }
    .navbar-nav li {
        float: left;

        display: inherit;
        width: 100%;
    }

    .work-counter {
        width: 100%;
    }

    .about-details {
        margin: 40px 15px;
    }

    .item blockquote p {
        font-size: 16px;
        margin-bottom: 0px;
        line-height: 30px;
        position: relative;
    }
    .skillblock-details {
        padding-left: 10px;
        display: table-cell;
        vertical-align: middle;
        padding-right: 10px;
    }
    .item blockquote p span {
        font-size: 23px;
        position: relative;
        line-height: 44px;
    }
    .arrow-btn {
        text-align: center;
        position: absolute;
        bottom: -105px;
        left: 50%;
        transform: translate(-50%,-50%);
    }


    .about-details h3 {
        font-size: 29px;
        letter-spacing: 1px;
        color: #545655;
        font-weight: 700;
        margin-top: 0px;
        padding: 0px;
        margin-bottom: 21px;
    }
    .work-icon {
        font-size: 22px;
        color: white;
        text-align: center;
        transform: translateY(-400px);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        transition-delay: 0s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition-delay: .2s;
        margin: 20px 5px;
        margin-bottom: 20px;
        margin-bottom: 20px;
        margin-bottom: 0px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .about-title h3 {
        font-size: 30px;
        letter-spacing: 0px;
        color: #a61eae;
        font-weight: 600;
        margin-top: 0px;
        padding: 0px;
        margin-bottom: 10px;
        font-family: 'Raleway', sans-serif;
    }
    .main-title h3 {
        font-size: 30px;
        letter-spacing: 0px;
        color: #a61eae;
        font-weight: 600;
        margin-top: 0px;
        padding: 0px;
        margin-bottom: 10px;
        font-family: 'Raleway', sans-serif;
    }
    .contact-title h3 {
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0px;
        color: #a61eae;
        font-weight: 600;
        margin-top: 0px;
        padding: 0px;
        margin-bottom: 15px;
    }
    .aboutbottom h3 {
        font-size: 20px;
        color: #656565;
        font-weight: 500;
        margin: 0px;
        margin-top: 0px;
        margin-top: 0px;
        margin-top: 10px;
    }
    .white-title h3 {
        color: white;
    }
    .cd-headline.clip span {
    font-size: 24px;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}
}
